In [82]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.2'

In [83]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.shape

(9704, 11)

In [84]:
print(len(df['fuel_type'].unique()))

2

In [85]:
print(df['fuel_type'].unique())

['Gasoline' 'Diesel']

In [86]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [87]:
df["fuel_efficiency_mpg"].max()

np.float64(25.96722204888372)

In [88]:
df["horsepower"].mean()

np.float64(149.65729212983547)

In [89]:
df["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [90]:
df["horsepower"] = df["horsepower"].fillna(149.0)

In [91]:
df["horsepower"].mean()

np.float64(149.6093363561418)

In [121]:
cars = df[df["origin"] == "Asia"]
cars

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,149.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [113]:
vehicle_weightAndmodel_year = cars[["vehicle_weight", "model_year"]]
vehicle_weightAndmodel_year

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [154]:
vehicle_weightAndmodel_year = vehicle_weightAndmodel_year[0:7]
vehicle_weightAndmodel_year

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [206]:
x = np.array(vehicle_weightAndmodel_year)
print(x.shape)
x

(7, 2)

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [208]:
XT = np.matrix_transpose(x)
print(XT.shape)
XTX = np.dot(x, XT)
print(XTX.shape)

(2, 7)
(7, 7)

In [209]:
XTX_invert = np.linalg.inv(XTX)
print(XTX_invert.shape)
XTX_invert

(7, 7)

array([[ 5.14065606e+08,  5.48536130e+07, -3.76831385e+08,
        -5.99044087e+08,  4.10105044e+08, -7.87026143e+07,
         7.23633092e+07],
       [ 3.29129898e+08,  8.26109025e+08, -3.72548813e+08,
        -7.01583859e+08,  3.27222378e+07, -5.67206124e+07,
        -5.80223502e+07],
       [-6.16516597e+08, -2.64221399e+08,  2.93298395e+08,
         7.94190283e+08, -1.94689452e+08, -1.53391689e+08,
         1.43457519e+08],
       [-4.98522990e+08, -2.71174593e+08,  5.34131775e+08,
         7.89486336e+08, -2.49261495e+08, -2.49261495e+08,
        -5.20318918e+07],
       [-0.00000000e+00, -2.68435456e+08,  2.23517418e-07,
         2.03703699e+08, -2.68435456e+08,  2.68435456e+08,
         6.46082210e+07],
       [ 0.00000000e+00, -1.15043767e+08, -1.15043767e+08,
        -2.70361224e+08,  2.68435456e+08,  2.68435456e+08,
        -3.76263766e+07],
       [ 2.68435456e+08,  3.83479223e+07,  3.83479223e+07,
        -2.12927011e+08,  0.00000000e+00,  0.00000000e+00,
        -1.32250255e+08]])

In [210]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y.shape)
print(y)

(7,)
[1100 1300  800  900 1000 1100 1200]

In [212]:
w = np.dot(np.dot(XT, XTX_invert),y)
print(w)
w.sum()

[ 0.14501345 -0.63631237]

np.float64(-0.4912989164442476)